/***********************************************************************                           
   Theme Name:      sccn_servo_child_theme
   Description:     Scott Clark Nissan Service
   Version:         0.1
   Author:          Dan Martinez, Ricardo Ledan, Henry Vician
   Tags:            Scott Clark Nissan
   Template:        servo

***********************************************************************/

/**  //////////  PALATE  //////////
NISSAN - #c51a47
NISSAN-MED - #9e1539
NISSAN-DARK - #8a1232
PRIMARY - #00b4f1
PRIMARY-DARK - #0080c6
SUCCESS - #38B265
SUCCESS-DARK - #0B8237
BG-LIGHT - #f5f5f5
**/


/* A/B TEST CLASSES */
.schedule-cta-test-01 {};

/** GENERAL **/
.bg-main { background-color: #c51a47; color: #fff; }
.bg-main-med { background-color: #9e1539; }

/** TYPOGRAPHY **/
blockquote { border-color: #c51a47;  }
.fa-ul .fa.fa-check { color: #38B265; }
/** LINKS **/
a, a.list-group-item, a.list-group-item:focus, a.list-group-item:hover { color: #c51a47; }
a:focus, a:hover { color: #9e1539; }
.btn-main { background-color: #c51a47; border-color: #c51a47; }
.btn-main:hover, .btn-secondary { background-color: #9e1539; border-color: #9e1539; }
.btn-secondary:hover, .btn-secondary:focus { background-color: #8a1232; border-color: #8a1232; }
.btn-main-outline { background-color: transparent; border-color: #c51a47; color: #c51a47; }
.btn-main-outline:focus, .btn-main-outline:hover { background-color: #c51a47; border-color: #c51a47; color: #fff; }
.btn-success, .btn-success-outline:focus, .btn-success-outline:hover { background-color: #38B265; border-color: #38B265; }
.btn-success:focus, .btn-success:hover { background-color: #0B8237; border-color: #0B8237; }
.btn-success-outline { background-color: transparent; border-color: #38B265; color: #38B265; }
.dropdown-menu { border-bottom: #c51a47 5px solid; }
.text-main { color: #c51a47; }
.text-primary { color: #00b4f1; }
/** HEADER **/
header .larger { color: #c51a47; }
/** FOOTER **/
footer { border-top: #c51a47 10px solid; }
button.close { color: #c51a47; }
/** HOME **/
.oem blockquote { border-color: #c51a47; }
/** ONE TO ONE **/
#one-to-one .round { margin: 0 auto 1rem; padding: 1.2rem 0 0; }
#one-to-one h4 { font-weight: 700; margin: 0; }
/** CARFAX **/
h1.carfax-txt, h2.carfax-txt, h3.carfax-txt, h4.carfax-txt { color: #3777bc; }
.carfax-bodytxt { color: #333; }
.carfax-btn, .carfax-btn-alt { color: white; background-color: #f58d17; border-color: #f58d17; font-weight: bold; }
.carfax-btn:hover { color:#fff; background-color: #3777bc; border-color: #3777bc; }
.carfax-btn-alt:hover { color:#fff; background-color: transparent!important; border: 1px solid #fff!important; }
/** CARFAX BANNER **/
#carfax-banner > section.header { background-color: #0085ba; }
/** COUPON **/
.coupon { border-color: #c51a47; color: #c51a47; }
.coupon .disclaimer { border-color: #c51a47; color: #333; }


/**  //////////  SMALL  //////////  **/
@media only screen and (min-width : 768px) {
    /** NAV **/
    .navbar-default .nav.navbar-nav>li.li-right>a { background-color: #c51a47; border-color: #c51a47; color: #fff; }
    .navbar-default .nav.navbar-nav>li.li-right>a:hover { background-color: #9e1539; border-color: #9e1539; }
    /** STAFF **/
    #staff .bio { min-height: 395px; margin-bottom: 1rem; }
}

/**  //////////  LARGE  //////////  **/
@media only screen and (min-width : 1200px) {
    /** STAFF **/
    #staff .bio { min-height: 435px; }
}

ul.nav.navbar-nav.navbar-right.hidden-xs { background-color: #d22138!important; border-color: #d22138!important;}
ul.nav.navbar-nav.navbar-right.hidden-xs>li>a{color: #ffffff!important;}

@media (min-width: 768px) { .navbar-right { margin-right: 0px!important; } }


/**  //////////  LARGE  //////////  **/
@media only screen and (min-width : 1200px) {
    /** STAFF **/
    #staff .bio { min-height: 435px; }
}

/**  //////////  STORE SPECIFIC  //////////  **/

/** BACKGROUNDS **/

#batteries > section.header { background: linear-gradient(rgba(0,0,0,.7), rgba(0,0,0,.7)), url('/wp-content/themes/sccn_servo_child_theme/assets/bg-batteries-xs.jpg'); }

#contact > section.header { background: linear-gradient(rgba(10,93,120,.7), rgba(10,93,120,.7)), url('https://blueshirtcode.com/scottclarknissanservice/wp-content/uploads/sites/18/2017/05/SCNcontactus.xs_.jpg'); }

#faq > section.header { background: linear-gradient(rgba(0,0,0,.7), rgba(0,0,0,.7)), url('/wp-content/themes/sccn_servo_child_theme/assets/bg-faq-banner-xs.jpg'); }

#home .oem { background: linear-gradient(rgba(0,0,0,.8), rgba(0,0,0,.8)), url('/wp-content/themes/sccn_servo_child_theme/assets/bg-oem-parts-xs.jpg'); }

#home > section.header { background: linear-gradient( 90deg, rgba(10,93,120,.7), rgba(10,93,120,.7)), url('https://blueshirtcode.com/scottclarknissanservice/wp-content/uploads/sites/18/2017/05/SCservicebay.xs_-1.jpg'); }

#learning-center > section.header { background: linear-gradient(rgba(10,93,120,.7), rgba(10,93,120,.7)), url('/wp-content/themes/sccn_servo_child_theme/assets/bg-home-banner-xs.jpg'); }

#one-to-one > section.header { background: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)), url('/wp-content/themes/sccn_servo_child_theme/assets/bg-one-to-one-xs.jpg'); }

#carfax > section.header { background: url('/wp-content/themes/sccn_servo_child_theme/assets/bg-carfax-xs.jpg'); }

.local { background: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)), url('https://blueshirtcode.com/scottclarknissanservice/wp-content/uploads/sites/18/2017/05/ECserviceteam.xs_.jpg'); }

.usp-2 { background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url('/wp-content/themes/sccn_servo_child_theme/assets/usp-shuttle-xs.jpg'); }

.usp-9 { background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url('/wp-content/themes/sccn_servo_child_theme/assets/usp-loaner-sm.jpg'); }

.usp-16 { background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url('/wp-content/themes/servo.git/assets/usp-fluid-sm.jpg'); }

.usp-17 { background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url('/wp-content/themes/servo.git/assets/usp-brakecomponents-sm.jpg'); }



/** ///// SMALL ///// **/

@media only screen and (min-width : 768px) {

    /** BACKGROUNDS **/

    #batteries > section.header { background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url('/wp-content/themes/sccn_servo_child_theme/assets/bg-batteries-sm.jpg'); }

    #contact > section.header { background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url('https://blueshirtcode.com/scottclarknissanservice/wp-content/uploads/sites/18/2017/05/SCNcontactus.sm_.jpg'); }

    #faq > section.header { background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url('/wp-content/themes/sccn_servo_child_theme/assets/bg-faq-banner-sm.jpg'); }

    #home .oem { background: linear-gradient(rgba(0,0,0,.8), rgba(0,0,0,.8)), url('/wp-content/themes/sccn_servo_child_theme/assets/bg-oem-parts-sm.jpg'); }

    #home > section.header { background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url('https://blueshirtcode.com/scottclarknissanservice/wp-content/uploads/sites/18/2017/05/SCservicebay.sm_.jpg'); }

    #learning-center > section.header { background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url('/wp-content/themes/sccn_servo_child_theme/assets/bg-home-banner-sm.jpg'); }

    #one-to-one > section.header { background: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)), url('/wp-content/themes/sccn_servo_child_theme/assets/bg-one-to-one-sm.jpg'); }

    #carfax > section.header { background: url('/wp-content/themes/sccn_servo_child_theme/assets/bg-carfax-sm.jpg'); }

    .local { background: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)), url('https://blueshirtcode.com/scottclarknissanservice/wp-content/uploads/sites/18/2017/05/ECserviceteam.jpg'); }

}



/** ///// MEDIUM ///// **/

@media only screen and (min-width : 992px) {

    /** BACKGROUNDS **/

    #batteries > section.header { background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url('/wp-content/themes/sccn_servo_child_theme/assets/bg-batteries-md.jpg'); }

    #contact > section.header { background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url('https://blueshirtcode.com/scottclarknissanservice/wp-content/uploads/sites/18/2017/05/SCNcontactus.md_.jpg'); }

    #faq > section.header { background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url('/wp-content/themes/sccn_servo_child_theme/assets/bg-faq-banner-md.jpg'); }

    #home .oem { background: linear-gradient(rgba(0,0,0,.8), rgba(0,0,0,.8)), url('/wp-content/themes/sccn_servo_child_theme/assets/bg-oem-parts-md.jpg'); }

    #home > section.header { background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url('https://blueshirtcode.com/scottclarknissanservice/wp-content/uploads/sites/18/2017/05/SCservicebay.md_.jpg'); }

    #learning-center > section.header { background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url('/wp-content/themes/sccn_servo_child_theme/assets/bg-home-banner-md.jpg'); }

    #one-to-one > section.header { background: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)), url('/wp-content/themes/sccn_servo_child_theme/assets/bg-one-to-one-md.jpg'); }

    #carfax > section.header { background: url('/wp-content/themes/sccn_servo_child_theme/assets/bg-carfax-md.jpg'); }

}



/** ///// LARGE ///// **/

@media only screen and (min-width : 1200px) {

    /** BACKGROUNDS **/

    #batteries > section.header { background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url('/wp-content/themes/sccn_servo_child_theme/assets/bg-batteries-lg.jpg'); }

    #contact > section.header { background: linear-gradient(90deg, rgba(10,93,120,.7), rgba(105,99,24,.7)), url('https://blueshirtcode.com/scottclarknissanservice/wp-content/uploads/sites/18/2017/05/SCNcontactus.lg_.jpg'); }

    #faq > section.header { background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url('/wp-content/themes/sccn_servo_child_theme/assets/bg-faq-banner-lg.jpg'); }

    #home .oem { background: linear-gradient(rgba(0,0,0,.8), rgba(0,0,0,.8)), url('/wp-content/themes/sccn_servo_child_theme/assets/bg-oem-parts-lg.jpg'); }

    #home > section.header { background: linear-gradient(90deg, rgba(10,93,120,.7), rgba(105,99,24,.7)), url('https://blueshirtcode.com/scottclarknissanservice/wp-content/uploads/sites/18/2017/05/SCservicebay.lg_.jpg'); }

    #learning-center > section.header { background: linear-gradient(90deg, rgba(10,93,120,.7), rgba(105,99,24,.7)), url('/wp-content/themes/sccn_servo_child_theme/assets/bg-home-banner-lg.jpg'); }

}

#batteries > section.header, #contact > section.header, #home > section.header, #home .oem, #learning-center > section.header, #one-to-one > section.header, #service section.rewards, #faq > section.header, #carfax > section.header, .local { background-position: center; background-size: cover; border: 0; color: #fff; }


/**  //////////  PLEASE ADD OVERRIDES BELOW THIS LINE  //////////  **/

.bg-main-med {
    background-color: #ab152d;
}

.bg-main-drk {
    background-color: #111;
}

@media only screen and (min-width: 1001px) {

    section.text-center.coupons {
        background-color: #f5f5f5!important;
    }

}

